h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
The content of this web page is tracked by Kosal’s old personal web page: https://sites.google.com/site/nithkosal/. This new website was designed using templates and Code this free access and download from Sebastián Otero, a PhD candidate in economics from Stanford University.

